@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-VariableFont_wdth,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background-image: url("../images/Background.svg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family:OpenSans;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
img{
    max-width:100%
}
.responsive-element{
    max-width:100%
}
form{
    border-radius: 20px;
    margin-top: 150px !important;
    width: 24% !important;
    background-color: white !important;
    padding: 50px;
}

.btn-outline-primary{
    width: 100%;
    height: 50px;
    border: none;
    color: rgb(79, 51, 124);
    
}
.btn-outline-primary:hover{
    background: linear-gradient(90deg, rgb(185, 112, 171) 0%, rgba(75,14,154,1) 35%, rgb(185, 112, 171)100%);
    
    border-color: rgb(79, 51, 124);
    color: white;
}

.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    }
 h4{
    font-size: 2rem !important;
    font-weight: 700;
 }  
 .form-label{
    font-weight: 800 !important;
 }
@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
  }
